<button mat-button *ngxPermissionsOnly="'INSERT'" (click)="openCreateDialog()"> <mat-icon color="primary">add</mat-icon>Agregar rol</button>


<table mat-table [dataSource]="roleService.$roles" class="mat-elevation-z8 ">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> # </th>
        <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Descripcion </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Handle Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button  color="accent"    *ngxPermissionsOnly="'UPDATE'" (click)="openUpdateDialog(element)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="red-button" *ngxPermissionsOnly="'DELETE'" (click)="openDeleteDialog(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></tr>
</table>

